@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  position: relative;
  font-family: "poppins", sans-serif;
}

section {
  min-height: 100vh;
  padding: 0 50px;
}

nav {
  background: white;
  padding: 5px 20px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

nav a {
  color: black;
}
nav a:hover {
  color: #151978;
}
.logo {
  flex: 1;
}

.logo img {
  width: 30px;
  margin-right: 10px;
}
.logo h1 {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu li {
  font-size: 16px;
  padding: 15px 10px;
}

.menu li a {
  text-decoration: none;
}

.toggle {
  font-size: 30px;
  display: none;
}

.jumbotron {
  background-color: #f5f5f5;
}

.jumbotron-container {
  max-width: 100%;
  height: calc(80vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
  padding-top: 100px;
}

.jumbotron-text h2,
p,
a {
  margin-bottom: 20px;
  padding-right: 20px;
}

.jumbotron-text h2 {
  font-size: 40px;
  font-weight: 600;
  color: #151978;
}

.jumbotron-img {
  width: 50%;
}

.btn {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: black;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

.logout {
  border: none;
  background-color: white;
  font-size: 17px;
  margin-left: 10px;
  cursor: pointer;
}

.logout:hover {
  color: red;
}

.blogs-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  width: 100%;
  margin: 32px 0;
}

.blog-card {
  padding: 10px;
  border: 1px solid #c7e7e7;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  padding-bottom: 60px;
}

.blog-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.blog-overview {
  margin: 10px 0 20px;
  line-height: 30px;
}

.btn.dark {
  background-color: black;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  margin: 0;
  float: right;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.wrap-blog {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  gap: 20px;
}

.login:hover {
  color: red;
}

footer {
  padding: 16px;
  background-color: #f5f5f5;
}

footer p {
  margin: 16px;
  text-align: center;
  color: black;
}
